@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

body {
    background: #1B2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
}

main {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

main h1 {
    color: #8830FE;
    font-size: 3rem;
    margin-bottom: 3em;
}

main .social-media {
    display: flex;
    align-content: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img{
    width: 36px;
    margin-left: 3em;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form lable {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
}